//-// Product menu
-
    var PRODUCT_ITEM =[
        {
            src: '../assets/images/ecommerce/01.jpg',
            productName: 'Women\'s Top',
            productDetail: 'Regular Flare Fit Women\'s white Top',
            price: '$50.00',
            delPrice: '$35.00',
            productDetails: 'Rock Paper Scissors Women Tank Top High Neck Cotton Top Stylish Women Top..',
            id: 'exampleModalCenter1',
        },
        {
            src: '../assets/images/ecommerce/02.jpg',
            productName: 'Men\'s Jacket',
            productDetail: 'Regular Flare Fit men\'s white Top',
            price: '$45.00',
            delPrice: '$50.00',
            ribbonclass: 'ribbon ribbon-danger',
            ribbontext: 'sale',
            productDetails: 'Lorate Solid Men\'s Fashion Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.',
            id: 'exampleModalCenter2',
        },
        {
            src: '../assets/images/ecommerce/03.jpg',
            productName: 'Black, White Dress',
            productDetail: 'White Cotton Regular Fabric Fit Dress',
            price: '$87.00',
            delPrice: '$52.00',
            productDetails: 'Ravaiyaa - Attitude is everything Cotton Women\'s Dresses One Top Button T-Shirt.',
            id: 'exampleModalCenter3',
        },
        {
            src: '../assets/images/ecommerce/04.jpg',
            productName: 'Denim Jacket',
            productDetail: 'Men\'s Regular Blue Denim Jacket.',
            price: '$56.00',
            delPrice: '$45.00',
            ribbonclass: 'ribbon ribbon-success ribbon-right',
            ribbontext: '50%',
            productDetails: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.',
            id: 'exampleModalCenter4',
        },
        {
            src: '../assets/images/ecommerce/05.jpg',
            productName: 'Black, White Dress.',
            productDetail: 'Women\'s Black & White Collection Dress.',
            price: '$25.00',
            delPrice: '$45.00',
            ribbonclass: 'ribbon ribbon-success ribbon-right',
            ribbontext: '50%',
            productDetails: 'Lorate Solid women\'s Fashion red winter Latest collection for women blazer.',
            id: 'exampleModalCenter5',
        },
        {
            src: '../assets/images/ecommerce/06.jpg',
            productName: 'Red Blazer For Winter',
            productDetail: 'Womens\'s Red Winter Collection Blazer.',
            price: '$36.00',
            delPrice: '$35.00',
            productDetails: 'Rock Paper Scissors women\'s Tank Top High Neck Cotton Top Stylish Women Top..',
            id: 'exampleModalCenter6',
        },
        {
            src: '../assets/images/ecommerce/07.jpg',
            productName: 'Men Formal Wear',
            productDetail: 'Men\'s Business Formal Suit Wear.',
            price: '$60.00',
            delPrice: '$63.00',
            ribbonclass: 'ribbon ribbon-danger',
            ribbontext: 'sale',
            productDetails: 'Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.',
            id: 'exampleModalCenter7',
        },
        {
            src: '../assets/images/ecommerce/08.jpg',
            productName: 'Men\'s Formal Shirt',
            productDetail: 'Gray Denim Regular Men\'s Denim Shirt.',
            price: '$78.00',
            delPrice: '$95.00',
            productDetails: 'Ravaiyaa - Attitude is everything Cotton Men\'s Formal One Top Shirt.',
            id: 'exampleModalCenter8',
        },
        {
            src: '../assets/images/ecommerce/04.jpg',
            productName: 'Denim Jacket',
            productDetail: 'Men\'s Regular Blue Denim Jacket.',
            price: '$85.00',
            delPrice: '$90.00',
            productDetails: 'Rock Paper Scissors Womens Tank Top High Neck Cotton Top Stylish Women Top..',
            id: 'exampleModalCenter9',
        },
        {
            src: '../assets/images/ecommerce/03.jpg',
            productName: 'Black, White Dress',
            productDetail: 'White Cotton Regular Fabric Fit Dress',
            price: '$38.00',
            delPrice: '$45.00',
            ribbonclass: 'ribbon ribbon-success ribbon-right',
            ribbontext: '50%',
            productDetails: 'Symbol Men\'s Solid Regular Fit Full Sleeve Formal Shirt, Cotton Regular Fit Men\'s Casual Shirt.',
            id: 'exampleModalCenter10',
        },
        {
            src: '../assets/images/ecommerce/02.jpg',
            productName: 'Men\'s Jacket',
            productDetail: 'Regular Flare Fit men\'s white Top',
            price: '$96.00',
            delPrice: '$35.00',
            productDetails: 'Womens Tank Top High Neck Cotton Top Stylish Women Top..',
            id: 'exampleModalCenter11',
        },
        {
            src: '../assets/images/ecommerce/01.jpg',
            productName: 'Women\'s Top',
            productDetail: 'Regular Flare Fit Women\'s white Top',
            price: '$70.00',
            delPrice: '$45.00',
            productDetails: 'Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.',
            ribbonclass: 'ribbon ribbon-danger',
            ribbontext: 'sale',
            id: 'exampleModalCenter12',
        },
        {
            src: '../assets/images/ecommerce/08.jpg',
            productName: 'Men\'s Formal Shirt',
            productDetail: 'Gray Denim Regular Men\'s Denim Shirt.',
            price: '$80.00',
            delPrice: '$100.00',
            productDetails: 'Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.',
            ribbonclass: 'ribbon ribbon-danger',
            ribbontext: 'sale',
            id: 'exampleModalCenter13',
        },
        {
            src: '../assets/images/ecommerce/07.jpg',
            productName: 'Men Formal Wear',
            productDetail: 'Men\'s Business Formal Suit Wear.',
            price: '$55.00',
            delPrice: '$60.00',
            productDetails: 'Ravaiyaa - Attitude is everything Cotton Women\'s Dresses One Top Button T-Shirt.',
            id: 'exampleModalCenter14',
        },
        {
            src: '../assets/images/ecommerce/06.jpg',
            productName: 'Red Blazer For Winter',
            productDetail: 'Womens\'s Red Winter Collection Blazer.',
            price: '$38.00',
            delPrice: '$45.00',
            ribbonclass: 'ribbon ribbon-success ribbon-right',
            ribbontext: '50%',
            productDetails: 'Lorate Solid Men\'s Fashion Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Jacket.',
            id: 'exampleModalCenter15',
        },
        {
            src: '../assets/images/ecommerce/05.jpg',
            productName: 'Black, White Dress.',
            productDetail: 'Women\'s Black & White Collection Dress.',
            price: '$45.00',
            delPrice: '$35.00',
            productDetails: 'Rock Paper Scissors Women Tank Top High Neck Cotton Top Stylish Women Top..',
            id: 'exampleModalCenter16',
        },
    ]    
//-// Product mixin
mixin ProductContent(items)
    each item in items 
        .col-xl-3.col-sm-6
            .card
                .product-box
                    .product-img
                        div(class=item.ribbonclass)=item.ribbontext
                        img.img-fluid(src=item.src, alt='')
                        .product-hover
                            ul
                                li
                                    a(href="cart.html")
                                        i.icon-shopping-cart
                                li
                                    a(data-bs-toggle='modal', data-bs-target=`#${item.id}`)
                                        i.icon-eye
                    .product-modal.modal.fade(id=item.id)
                        .modal-dialog.modal-lg.modal-dialog-centered(role='document')
                            .modal-content
                                .modal-header
                                    .product-box.row
                                        .product-img.col-lg-6
                                            img.img-fluid(src=item.src, alt='')
                                        .col-lg-6.text-start
                                            .product-details
                                                a(href="product-page.html")
                                                    h4=item.productName
                                                .product-price
                                                    span=item.price
                                                    del=item.delPrice
                                                .product-view
                                                    h6.f-w-600 Product Details
                                                    p.mb-0=item.productDetails
                                                .product-size
                                                    ul  
                                                        li
                                                            button.btn(type='button') M
                                                        li
                                                            button.btn(type='button') L
                                                        li
                                                            button.btn(type='button') Xl
                                                .product-qnty
                                                    h6.f-w-600 Quantity
                                                    fieldset
                                                        .touchspin-wrapper 
                                                            button.decrement-touchspin.btn-touchspin.touchspin-primary
                                                                i.fa.fa-minus 
                                                            input.input-touchspin.spin-outline-primary(type='number' value='5')
                                                            button.increment-touchspin.btn-touchspin.touchspin-primary
                                                                i.fa.fa-plus 
                                                    .addcart-btn
                                                        a.btn.btn-primary.me-2(href="cart.html") Add to Cart
                                                        a.btn.btn-primary(href="product-page.html") View Details
                                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .product-details
                        a(href="product-page.html")
                            h4=item.productName
                        p.pro-detail=item.productDetail
                        .product-price
                            span=item.price
                            del=item.delPrice
// Product menu
+ProductContent(PRODUCT_ITEM)

// modal menu
//- +ModalContent(PRODUCT_ITEM)