//-// img gallery mixin
-
    var HOVER_1 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-1',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-1',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-1',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-1',
        }, 
    ]
    var HOVER_2 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-2',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-2',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-2',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-2',
        }, 
    ]
    var HOVER_3 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-3',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-3',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-3',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-3',
        }, 
    ]
    var HOVER_4 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-4',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-4',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-4',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-4',
        }, 
    ]
    var HOVER_5 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-5',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-5',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-5',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-5',
        }, 
    ]
    var HOVER_6 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-6',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-6',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-6',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-6',
        }, 
    ]
    var HOVER_7 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-7',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-7',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-7',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-7',
        }, 
    ]
    var HOVER_8 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-8',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-8',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-8',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-8',
        }, 
    ]
    var HOVER_9 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-9',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-9',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-9',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-9',
        }, 
    ]
    var HOVER_10 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-10',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-10',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-10',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-10',
        }, 
    ]
    var HOVER_11 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-11',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-11',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-11',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-11',
        }, 
    ]
    var HOVER_12 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-12',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-12',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-12',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-12',
        }, 
    ]
    var HOVER_13 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-13',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-13',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-13',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-13',
        }, 
    ]
    var HOVER_14 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-14',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-14',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-14',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-14',
        }, 
    ]
    var HOVER_15 =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            hoverClass: 'hover-15',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            hoverClass: 'hover-15',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            hoverClass: 'hover-15',
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            hoverClass: 'hover-15',
        }, 
    ]

mixin ImageGalleryWithHoverEffect(images)
  .row.my-gallery.gallery.gap-0.mb-0(itemscope='')
    each image in images
      figure.col-md-3.col-6.img-hover(class=image.hoverClass, itemprop='associatedMedia', itemscope='')
        a(href=image.bigLight, data-pswp-width='1875', data-pswp-height='2500', target='_blank')
          div
            img(src=image.lightGallery, itemprop='thumbnail', alt='Image description')

//- Example usage of the mixin
each index in [...Array(15).keys()]
  .row
    .col-sm-12
      .card
        .card-header
          h4 Hover Effect #{index + 1}
        .card-body
          +ImageGalleryWithHoverEffect(eval(`HOVER_${index + 1}`))
